<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <!-- Bootstrap CSS -->
  
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font.css') }}">



        <title>College Master</title>
    
</head>
<body>
  <div class="animatedbg-outer">
    <ul class="bg-animated">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <li class="navbar-brand mr-4" href="/">College Master</li>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('home') }}">About</a>
            </div>
    </header>
    <div>
    <img src="static\clgs\tf.svg" style="align-self: center; width: 140% ;padding-block-start: 0px;"/>
     
    <div class="leftcolumn" style="height:0px;  padding-block-start: 10px;">
          {% block content %}{% endblock %}
        </div>

          <div class="rightcolumn" style="height:10px; float: right; padding-block-start: 10px;">
            <div class="content-section">
              <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
              <form method="GET" action="{{ url_for('search') }}">
              <input type="text" class="live-search-box"  placeholder="search here" name="title" method = "GET"  />
              <ul class="live-search-list" type="None">
                <br><li><a class="test" href="{{ url_for('search' , title=411033) }}">Dr.D Y Patil School of Science and Technology</a></li>
                  <br><li><a  class="test" href="{{ url_for('search' , title=410506) }}">Indira College Of Engineering</a></li>
                  <br><li><a  class="test" href="{{ url_for('search' , title=411038) }}">MIT-WPU</a></li>
                  <br><li><a  class="test" href="{{ url_for('search' , title=411037) }}">Vishwakarma Institute of Technology(VIT)</a></li>
                  <br><li><a  class="test" href="{{ url_for('search' , title=411005) }}">College Of Engineering Pune (COEP)</a></li>
                  <br><li><a  class="test" href="{{ url_for('search' , title=411018) }}">Dr DY Patil Institute of Technology</a></li>
                  <br><li><a  class="test" href="{{ url_for('search' , title=411011) }}">AISSMS College of Engineering</a></li>
                  <br><li><a  class="test" href="{{ url_for('search' , title=411043) }}">Pune Institute of Computer Technology(PICT)</a></li>
                  <br><li><a  class="test" href="{{ url_for('search' , title=411052) }}">MKSSS's Cummins College </a></li>
                  <br><li><a  class="test" href="{{ url_for('search' , title=411044) }}">Pimpri Chinchwad College of Engineering(PCCOE)</a></li>
                  <br><li><a  class="test" href="{{ url_for('search' , title=411005) }}">Modern College of Engineering</a></li>
                  
                  </ul>
              </form>
      <script type="text/javascript">
          jQuery(document).ready(function($){
              
          $('.live-search-list li').each(function(){
          $(this).attr('data-search-term', $(this).text().toLowerCase());
          });
          
          $('.live-search-box').on('keyup', function(){
              
          var searchTerm = $(this).val().toLowerCase();
    
              $('.live-search-list li').each(function(){
    
                  if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                  $(this).show();
                  } else {
                       $(this).hide();
                     }
    
          });
    
  });
  
  });

</script> 
          
        </div>
      </div>
    </div>
  </div>
  
<style type="text/css">

    h1 {text-align: center;}
    .test {
    color: rgb(2, 2, 2);
    }

    </style>

    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>